# Publishable API key of the "SPECS B2B" sales channel.
# Created by: cd apps/backend && npm run seed:b2b  (prints the key)
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=

# URL of the Medusa backend API server
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Base URL of this storefront
NEXT_PUBLIC_BASE_URL=http://localhost:8002
